<admintpl file="header" />
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
	<div class="wrap" id="bbooddyy">
		<ul class="nav nav-tabs">
			<li class="active"><a >消费记录</a></li>
		</ul>
		<php>
			$type=array("income"=>"收入","expend"=>"支出");
				$action=array(
				"loginbonus"=>"登录奖励",
				"zhuawawa"=>"抓娃娃游戏",
				"service"=>"人工服务",
				"coin"=>"充值记录",
				"claw"=>"游戏甩爪",
				"active_shangbi"=>"上币活动",
				"active_dingshi"=>"定时活动",
				"regcoin"=>"注册送币",
				"invite"=>"邀请奖励",
				"set_coin"=>"娃娃换币"
			);
		</php>
		<form class="well form-search" method="post" action="{:U('Coinrecord/index')}">
			收支类型： 
			<select class="select_2" name="type">
				<option value="">全部</option>
				<volist name="type" id="v">
					<option value="{$key}" <if condition="$formget.type eq $key">selected</if> >{$v}</option>
				</volist>

			</select> &nbsp;&nbsp;
			收支行为： 
			<select class="select_2" name="action">
				<option value="">全部</option>
				<volist name="action" id="v">
					<option value="{$key}" <if condition="$formget.action eq $key">selected</if> >{$v}</option>
				</volist>
			</select> &nbsp;&nbsp;
			赠送时间：
			<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}" style="width: 80px;" autocomplete="off">-
			<input type="text" class="js-date date" name="end_time" value="{$formget.end_time}" style="width: 80px;" autocomplete="off"> &nbsp; &nbsp;
			会员： 
			<input type="text" name="uid" style="width: 200px;" value="{$formget.uid}" placeholder="请输入会员ID值...">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		
		<form method="post" class="js-ajax-form">
	
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th align="center">ID</th>
						<th>收支类型</th>
						<th>收支行为</th>
						<th>会员 (ID)</th>
						<!--th>主播 (ID)</th-->
						<th>礼物 (ID)</th>
						<th>礼物数量</th>
						<th>金额</th>
						<th>金币总数</th>
						<th>赠送金币</th>
						<th>赠送甩爪</th>
						<th>记录id</th>
						<th>赠送时间</th>

						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					
					<foreach name="lists" item="vo">
					<tr>
						<td align="center">{$vo.id}</td>
						<td>{$type[$vo['type']]}</td>
						<td>{$action[$vo['action']]}</td>
						<td><if condition="$vo.uid eq 0"> 平台 <else/> {$vo['userinfo']['user_nicename']} ( {$vo['uid']} ) </if></td>
						<!--td><if condition="$vo.touid eq 0"> 平台 <else/> {$vo['touserinfo']['user_nicename']} ( {$vo['touid']} ) </if></td-->
						<td>{$vo['giftinfo']['giftname']} ( {$vo['giftid']} )

                            <if condition="$vo.giftid gt 0">
                                <button class="btn btn-primary btn-small config_name" data-toggle="modal"
                                    data-target="#Gamehistory" data-index="{$key}" data-giftid="{$vo.giftid}"   @click="setIndex($event)">
                                查看
                                </button>
                            </if>

                        </td>
						<td>{$vo['giftcount']}</td>
						<td>{$vo['realmoney']}</td>
						<td>{$vo['totalcoin']}</td>
						<td>{$vo['givecoin']}</td>
						<td>{$vo['giveclaw']}</td>
						<td>{$vo['showid']}</td>
	
						<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>

						<td align="center">	
							<!-- <a href="{:U('Coinrecord/edit',array('id'=>$vo['id']))}" >编辑</a> |
							<a href="{:U('Coinrecord/del',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a> -->
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="Gamehistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        游戏过程
                    </h4>
                </div>
                <div class="modal-body" v-if="index!='false'">
                    <p  style="text-align: center;font-weight: bold">数据加载中......</p>
                    <p v-for="data in datas">
                        <b>{{data['user_nicename']}}</b>&nbsp;&nbsp;{{data.ctime|formatDate}}&nbsp;&nbsp;抓取&nbsp;&nbsp;<b>{{data['name']}}<b>
                                &nbsp;&nbsp;
                                <b class="text-error" v-if="data.success == 0">失败</b><b class="text-success" v-else>成功</b>
                                <br />

                                <b v-if="data.is_strong != 0">强抓力</b>
                                <b v-else>非强抓力</b>
                                &nbsp;&nbsp;
                                <b v-if="data.is_retreat == 1">已退币</b>

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


</div>

	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>

<script>
    new Vue({
//        el: '#Gamehistory',
        el: '#bbooddyy',
        data: {
            index: 'false',
            hindex: 'false',
            giftid: 'false',
            datas: {},
            isloading: true,
        },
        methods: {
            setIndex: function (el) {
                this.datas = {}
                var indexid = el.target.getAttribute('data-index')
                var giftid = el.target.getAttribute('data-giftid')
                this.index = indexid
                this.giftid = giftid
                this.getpull()
            },
            getpull: function () {
                that = this
                $.ajax({
                    type:'get',
                    data:{giftid:this.giftid},
                    url:'{:U('Coinrecord/ajaxGethistory')}',
                    success:function(res){
                        //that.isloading = false
                        var datas = JSON.parse(res);
                        if(datas.code != 0){
                            alert(datas.msg)
                        }else{
                            that.datas = datas.data
                        }
                    },
                    error:function(){
                        alert('请求失败！')
                    }
                });
            }
        },
        filters: {
            formatDate: function (time) {
                var now = new Date(time*1000);
                var   year=now.getFullYear();
                var   month=now.getMonth()+1;
                var   date=now.getDate();
                var   hour=now.getHours();
                var   minute=now.getMinutes();
                var   second=now.getSeconds();
                return   year+"-"+month+"-"+date+"   "+hour+":"+minute+":"+second;
            }
        }
    })

</script>